.nav {
    display: flex;
    height: 10vh;
    align-items: center;
    gap: 800px;
    border: 2px solid black;
    border-radius: 7px;
}

.btn{
    border: 2px solid aquamarine;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    background-color: aqua;
}

.container {
    margin: 10px;
    padding: 10px;.nav {
    display: flex;
    height: 10vh;
    align-items: center;
    gap: 800px;
    border: 2px solid black;
    border-radius: 7px;
}

.btn{
    border: 2px solid aquamarine;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    background-color: aqua;
}
    display: grid;
    grid-template-columns: 20vw 70vw;
    gap: 30px;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    
}

.opts {
    display: flex;
    flex-direction: column;
}

.ucard {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: rgba(233, 233, 233, 0.3);
    border: 2px solid rgba(222, 214, 214, 0.767);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    row-gap: 20px;
}

.txt{
    align-content: center;
}

.tt{
    margin: 3px;
    padding: 3px;
    display: grid;
    grid-template-columns: 40px 400px;
    gap: 30px;
}

.tt2{
    border: 2px solid (41, 41, 41, 0.549);
    margin: 3px;
    padding: 3px;
    display: grid;
    grid-template-columns: 320px 320px;
    gap: 120px;
    justify-content: center;
}

.tt3{
    border: 2px solid rgba(41, 41, 41, 0.549);
    margin: 3px;
    padding: 3px;
    display: grid;
    grid-template-columns: 80px 400px;
    gap: 120px;
}

.cont{
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(41, 41, 41, 0.549);
    margin: 3px;
    padding: 3px;
}

